.workout-item {
    border-radius: 20px; /* Bordes redondeados */
    overflow: hidden;
    padding: 0;
    margin: 10px 0; /* Menos margen entre los elementos */
    border-radius: 20px; /* Bordes redondeados */
  }
  
  .workout-container {
    position: relative;
    border-radius: 15px; /* Borde redondeado */
    overflow: hidden; /* Asegura que el contenido respete el borde redondeado */
    height: 30vw; /* Altura proporcional al ancho de la pantalla */
    width: 90%; /* El ancho será el 90% del contenedor principal */
    margin: 0 auto 3vw; /* Alineación centrada y margen inferior usando vw */
  }
  
  .workout-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen cubra todo el contenedor */
  }
  
  .workout-label {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(0%, -50%); /* Centra el texto horizontal y verticalmente */
    z-index: 1;
  }
  
  .ion-no-lines .workout-item {
    --border-width: 0px; /* Elimina completamente cualquier borde entre los elementos */
    padding: 0;
    margin-bottom: 3vw; /* Margen entre cada entrenamiento */
  }
  
  