.custom-segment {
    --indicator-color: #32CD32; /* Color del indicador de la casilla seleccionada */
    --color-checked: #32CD32;   /* Color del texto en la casilla seleccionada */
    --color: #9C27B0;           /* Color del texto en las casillas no seleccionadas */
    --border-radius: 8px;       /* Bordes redondeados opcionales */
}
